Service vinculados ao modulo principal são singletons:
<br />
<br />
Clique neste botao e no botao acima 'Testar Service Singleton a partir do
appComponent' para verificar que o service cadastroService é singleton para toda
aplicacao
<button (click)="validarServiceSingleton()">Chamar Service</button>
<br />
<br />
<hr />
Interceptor:
<br />
<br />
Varifique no inpector do navegador que ao realizar a requisicao é adicionado o
cabeçalho de autorizacão Bearer
<button (click)="carregar()">Testar Interceptor</button>
<div *ngIf="registros$ | async as registros">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of registros">
        <td>{{ registro.nome }}</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<hr />
Reactive Form:
<form [formGroup]="form" (ngSubmit)="onSubmitReactiveForms(form)">
  <div>
    <label for="nome">Nome</label>
    <div>
      <input id="nome" formControlName="nome" type="text" />
      <span *ngIf="form.get('nome')?.errors">*</span>
    </div>
  </div>
  <div>
    <div>
      <button type="submit" [disabled]="!form.valid">Submeter</button>
    </div>
  </div>
</form>
<br />
<br />
<hr />
Template-Driven Form:
<form #form2="ngForm" (ngSubmit)="onSubmitTempleteDrive()">
  <div>
    <label for="nome">Nome</label>
    <div>
      <input
        id="nome"
        name="nome"
        [(ngModel)]="model.nome"
        type="text"
        required
      />
    </div>
  </div>
  <div>
    <div>
      <button type="submit" [disabled]="!form2.form.valid">Submeter</button>
    </div>
  </div>
</form>
<br />
<br />
<hr />
Template Variables:
<br />
<input #templateVariable />
<button type="button" (click)="exibir(templateVariable.value)">
  Exibir Template Variable
</button>
<br />
<br />
<hr />
<b>Tipos de DataBinding</b>
<br />
<br />
Interpolação (Dado do componente para o template):
<br />
{{ variavelInterpolada }}
<br />
<br />
Property Binding (Dado do componente para o template):
<br />
<input type="text" [value]="variavelParaPropertyBinding" style="width: 200px" />
<br />
<br />
Event Binding (Ocorre do template para o componente):
<br />
<button (click)="dispararEventBinding('algumValor')">
  Clique-me para disparar o event Binding
</button>
<br />
<br />
Two-way Binding (Ocorre nos dois sentidos):
<br />
Atualiza no componente:
<input type="text" [(ngModel)]="variavelTwoWayBinding" />
{{ variavelTwoWayBinding }}
<br />
Atualiza no template:
<button (click)="LimparTwoWayBinding()">Limpar</button>
<br />
<br />
<hr />
ViewChild:
<br />
<input
  id="meuId"
  #templateVaraiableParaViewChild
  value="Veja meu valor no console"
/>
<br />
<br />
<hr />
NgContent:
<app-componente-ng-content
  >Este é o conteudo inserido dimicamente pelo controle
  PAI</app-componente-ng-content
>
<br />
<br />
<hr />
Diretiva:
<br />
<br />
<span appHighLight
  >A diretiva highLight está alterando a cor de fundo deste elemento para
  amarelo</span
>
<br />
<br />
<hr />
Pipes:
<br />
<br />
<span
  >Esta data foi formatada usando o pipe date:
  {{ variavelDateParaPipe | date : "dd/MM/yyyy" }}</span
>
<br />
<br />
<hr />
Custom Pipes:
<br />
<br />
<span>
  {{
    "ESTE TEXTO FOI FORMATADO USANDO O CUSTOM PIPE UPPER-LOWER-CASE"
      | upperLowerCase : false
  }}</span
>
<br />
<br />
<hr />
Async Pipes:
<br />
<br />
Hora agora: {{ time | async }}
