<hr />
<button (click)="carregar()">Testar Interceptor</button>
<div *ngIf="registros$ | async as registros">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of registros">
        <td>{{ registro.nome }}</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<hr />
Reactive Form:
<form [formGroup]="form" (ngSubmit)="onSubmitReactiveForms(form)">
  <div>
    <label for="nome">Nome</label>
    <div>
      <input id="nome" formControlName="nome" type="text" />
    </div>
  </div>
  <div>
    <div>
      <button type="submit" [disabled]="!form.valid">Submeter</button>
    </div>
  </div>
</form>
<br />
<br />
<hr />
Template-Driven Form:
<form #form2="ngForm" (ngSubmit)="onSubmitTempleteDrive()">
  <div>
    <label for="nome">Nome</label>
    <div>
      <input
        id="nome"
        name="nome"
        [(ngModel)]="model.nome"
        type="text"
        required
      />
    </div>
  </div>
  <div>
    <div>
      <button type="submit" [disabled]="!form2.form.valid">Submeter</button>
    </div>
  </div>
</form>
<br />
<br />
<hr />
<input #templateVariable />
<button type="button" (click)="exibir(templateVariable.value)">
  Exibir Template Variable
</button>
<br />
<br />
<hr />
Interpolação:
<br />
{{ variavelInterpolada }}
<br />
<br />
<hr />
ViewChild:
<br />
<input
  id="meuId"
  #templateVaraiableParaViewChild
  value="Veja meu valor no console"
/>
<br />
<br />
<hr />
NgContent:
<app-componente-ng-content
  >Este é o conteudo inserido dimicamente pelo controle
  PAI</app-componente-ng-content
>
<br />
<br />
<hr />
